/*
* Content
*/

@import "variables.css";

.content {
    margin-top: calc(var(--menu-height) * 0.5);
}

.content-item {
    padding: 20px 20px 20px 10px;
    margin-bottom: 40px;
}

.content-item h1, .content-item h2, .content-item h3, .content-item h4, .content-item h5, .content-item h6 {
    font-weight: 700;
}

.color-text {
    color: var(--menu-item-selected-color);
}

.tile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tile {
    /* Height is automatically set in js */
    position: relative;
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    border: var(--tile-border-width) solid var(--text-color-light);
    margin: auto;
    overflow: hidden;
    transition: padding var(--transition-medium);
}

.tile * {
    pointer-events: none;
}

.tile img {
    display: inline-block;
    height: 100%;
    transition: opacity var(--transition-short);
}

.tile img:not(.gif) {
    position: absolute;
    height: 90%;
    margin: 5%;
}

.tile .gif {
    opacity: 0;
}

.tile.big {
    width: 45%;
}

.tile.medium {
    width: 30%;
}

.tile-expanded {
    /* Width is set in js */
    float: left;
    overflow: visible;
}

.tile-expanded img:not(.gif) {
    /* Width is set in js */
    opacity: 0;
}

.tile-expanded .gif {
    /* Width is set in js */
    opacity: 1;
    transition: opacity var(--transition-short) ease-in var(--transition-short);
}

.tile-miniaturized {
    width: auto;
}

.no-margin {
    margin: 0;
}

.contact h3 {
    text-align: center;
    font-weight: 700;
}

/* Small screen specific */

@media (max-width: 480px) {

}