/*
* Game
*/

@import "variables.css";

.content {
    position: relative;
    margin: 0;
}

img.feature {
    position: absolute;
    z-index: 0;
    margin-top: -15%;
    width: 100%;
}

.game-info {
    position: relative;
    z-index: 1;
    width: 70%;
    margin: 10% auto 20px auto;
    padding: 30px;
    background-color: var(--content-bg-color);
}

.title {
    width: 100%;
    text-align: center;
    color: var(--text-color-light);
    font-family: "Minimal5x7", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    line-height: 1em;
    border-bottom: 1px solid var(--button-border-color);
    margin-bottom: 20px;
}

.game-info h4 {
    margin-bottom: 0;
}

.top-info {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--button-border-color);
}

.promo {
    display: inline-block;
    width: 60%;
}

.promo .gallery {
    /*Height is set in js*/
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery .text {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: opacity var(--transition-medium);
    font-family: "Minimal5x7", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 500;
}

.gallery .text.active {
    opacity: 1;
}

.gallery .hover {
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity var(--transition-short);
}

.gallery .hover.show {
    opacity: 1;
}

.gallery .item {
    position: absolute;
    width: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity var(--transition-short);
}

.gallery .item.active {
    opacity: 1;
}

.gallery img {
    width: 100%;
}

.side-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    width: 37%;
}

.side-info img {
    width: 100%;
    transition: opacity var(--transition-short);
}

.side-info img:hover {
    opacity: 0.5;
    transition: opacity var(--transition-short);
}

.bottom-info {
    margin-top: 2%;
}

.bottom-info p {
    margin-bottom: 10px;
}

.bottom-info ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 30px 0 30px 0;
}

/* Medium screen specific */

@media (max-width: 850px) {
    .title {
        font-size: 4em;
    }
}

/* Small screen specific */

@media (max-width: 480px) {
    .title {
        font-size: 3em;
    }

    .promo {
        width: 100%;
    }

    .side-info {
        margin-left: 0;
        width: 100%;
    }
}