/*
* General
*/

/* Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import "variables.css";

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: "Minimal5x7";
    src: url(../assets/Minimal5x7.ttf);
}

/* All elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background: var(--bg-color) url("../images/website-bg.jpg") no-repeat;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    color: var(--text-color);
}

a {
    color: var(--a-color);
    transition: color var(--transition-short);
}

a:hover {
    color: var(--a-hover-color);
    transition: color var(--transition-short);
}

button {
    color: var(--text-color);
    transition: background-color var(--transition-short);
}

button:hover {
    color: var(--text-color);
    background-color: var(--button-hover-color);
    transition: background-color var(--transition-short);
}

button:focus {
    color: var(--text-color);
    transition: background-color var(--transition-short);
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
}