/*
* Menu
*/

@import "variables.css";

body {
    position: relative;
}

body.block-scrolling {
    overflow-y: hidden;
}

.logo {
    position: absolute;
    height: calc(var(--menu-height) * 0.9);
    padding: calc(var(--menu-height) * 0.05) 0 calc(var(--menu-height) * 0.05) 3%;
}

.logo:hover {
    opacity: 0.6;
    transition: opacity var(--transition-short);
}

.header-menu-block {
    width: 100%;
    height: var(--menu-height);
}

.header-menu {
    position:fixed;
    top: 0;
    z-index: var(--menu-z-index);
    width: var(--menu-width);
    height: var(--menu-height);
    margin: auto;
    background-color: var(--menu-bg-color);
}

.menu-text {
    list-style-type: none;
    color: var(--menu-primary-text-color);
    font-family: "Minimal5x7", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-text a {
    text-decoration: none;
}

.header-menu-container {
    display: inline-block;
    height: 100%;
    width: var(--menu-container-width);
    margin-bottom: 0;
    margin-left: calc((100% - var(--menu-container-width)) / 2);
    margin-right: calc(calc((100% - var(--menu-container-width)) / 2) - var(--menu-height));
    text-align: center;
}

.header-menu-item {
    position: relative;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: calc(100% / (var(--menu-items-amount)));
}

.header-menu-item-border {
    height: calc(100% - var(--menu-border-width));
    border-bottom: var(--menu-border-width) solid var(--menu-item-border-color);
}

.header-menu-item a {
    color: var(--menu-primary-text-color);
    font-size: 0;
    transition: color var(--transition-short);
}

.header-menu-item.selected a {
    color: var(--menu-item-selected-color);
}

.header-menu-item h2 {
    line-height: var(--menu-height);
    margin: 0;
}

.header-menu-item-selection-box {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - var(--menu-border-width));
    width: 0;
    border-bottom: var(--menu-border-width) solid var(--menu-item-selected-color);
}

.header-menu-item-selection-box.selected {
    transition: all var(--transition-short);
    width: 100%;
    left: 0;
}

.mobile-menu {
    visibility: hidden;
    display: inline-block;
    float: right;
    width: var(--menu-height);
    height: var(--menu-height);
    right: 0;
    background-color: var(--menu-mobile-bg-color);
}

.burger-container {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.burger {
    display: block;
    position: absolute;
    height: calc(var(--menu-height) / 10);
    width: 70%;
    margin-left: 15%;
    background: var(--menu-primary-text-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger-container .burger:nth-child(1) {
    top: calc(var(--menu-height) / 10 * 2);
}

.burger-container .burger:nth-child(2) {
    top: calc(var(--menu-height) / 10 * 4);
}

.burger-container .burger:nth-child(3) {
    top: calc(var(--menu-height) / 10 * 6);
}

.burger-container.active .burger:nth-child(1) {
    top: calc(var(--menu-height) / 10 * 4);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    background: var(--menu-item-selected-color);
}

.burger-container.active .burger:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.burger-container.active .burger:nth-child(3) {
    top: calc(var(--menu-height) / 10 * 4);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: var(--menu-item-selected-color);
}

.mobile-menu-dropdown {
    position: fixed;
    z-index: calc(var(--menu-z-index) - 1);
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--menu-mobile-bg-color);
    opacity: 0.9;
    transition: bottom var(--transition-short);
}

.mobile-menu-dropdown.show {
    bottom: 0;
}

.mobile-menu-dropdown-content {
    margin-top: calc(var(--menu-height) * 0.5);
}

.mobile-menu-dropdown-content h2 {
    margin-bottom: 0;
}

/* Small screen specific */

@media (max-width: var(--small-media-dimension)) {
    .header-menu-item a, .header-menu-container {
        /* Hide header menu when media width > 480 */
        visibility: hidden;
    }

    .mobile-menu {
        /* Show mobile menu when media width > 480 */
        visibility: visible;
    }
}