/*
* Variables
*/

html {
    /* General */
    --bg-color: #151515;
    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --a-color: #ff4f00;
    --a-hover-color: #993800;
    --button-hover-color: rgba(255, 79, 0, 0.3);
    --button-border-color: #ffffff;

    --small-media-dimension: 480px;

    --transition-short: 300ms;
    --transition-medium: 500ms;

    /* Menu settings */
    --menu-width: 100%;
    --menu-height: 70px;
    --menu-border-width: 2px;
    --menu-container-width: 60%;
    --menu-items-amount: 3;
    --menu-z-index: 10;

    /* Menu colors */
    --menu-bg-color: #202020;
    --menu-primary-text-color: #ffffff;
    --menu-item-border-color: var(--button-border-color);
    --menu-item-selected-color: var(--a-color);
    --menu-mobile-bg-color: #121212;

    /* Content sizes */
    --tile-margin: 1%;
    --tile-border-width: 1px;

    /* Content colors */
    --tile-border-color: var(--button-border-color);
}